{% extends 'base.html' %}

{% block content %}
    <h2>My Wishlists</h2>
    <ul>
        {% for wishlist in wishlists %}
            <li>
                <a href="{% url 'wishlist:wishlist-detail' pk=wishlist.pk %}">{{ wishlist.name }}</a>
                <ul>
                    {% for item in wishlist.wishlistitem_set.all %}
                        <li>
                            {{ item.product.name }} - {{ item.product.price }}
                            <!-- Link to view product details -->
                            <a href="{% url 'products:product-detail' pk=item.product.pk %}">View Details</a>
                            <!-- Link/button to add to cart -->
                            <a href="{% url 'cart:add-to-cart' product_id=item.product.pk %}">Add to Cart</a>
                            <!-- Link/button to remove from cart -->
                            <a href="{% url 'cart:remove-from-cart' product_id=item.product.pk %}">Remove from Cart</a>
                            <!-- Link/button to add to cart -->
                            <a href="{% url 'bag:add-to-cart' product_id=item.product.pk %}">Add to Cart</a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>

    <!-- Link/button to navigate to the order page -->
    <a href="{% url 'orders:make-order' %}">Make an Order</a>
{% endblock %}
