{% extends 'products/base_generic.html' %}

{% block content %}
    <h1>{% if category %}{{ category.name }}{% else %}All Products{% endif %}</h1>

    <div class="categories">
        <h2>Categories</h2>
        <ul>
        {% for c in categories %}
            <li{% if category and category.slug == c.slug %} class="selected"{% endif %}>
            <a href="{% url 'products:product_list_by_category' c.slug %}">{{ c.name }}</a>
            </li>
        {% endfor %}
        </ul>
    </div>

    <div class="products">
        {% for product in products %}
        <div class="product">
            <h3><a href="{% url 'products:product_detail' product.id product.slug %}">{{ product.name }}</a></h3>
            <p>{{ product.description }}</p>
            <p>Price: ${{ product.price }}</p>
        </div>
        {% endfor %}
    </div>
{% endblock %}
